.sidebar {
    width: var(--sidebar-width);
    flex: 0 0 var(--sidebar-width);
    box-sizing: border-box;
}

.is-active::before{
    content: url("../assets/active-before.svg");
    margin-right: 10px;
    position: relative;
    top: -3px;
}